<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subir un archivo en Django</title>
  </head>
  <body>
    <h2>Subir un archivo en Django</h2>

    <form
      action="{% url 'uploadFile' %}"
      method="POST"
      enctype="multipart/form-data">
      {% csrf_token %}
      <input type="text" name="title" accept=".doc, .docx, .pdf, .txt" />
      <input type="file" name="archivo" />

      <input type="submit" value="Upload" />
    </form>

    <a href="{% url 'lista_archivo' %}">Archivos</a>
  </body>
</html>
